.EditService {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Div containing all the params */
.EditService .allServiceParams {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 10px;
  margin: 20px;
}

/* Div for each individual param */
.EditService .serviceParam {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* The label for each field */
.EditService .allServiceParams p {
  font-size: 125%;
}
/* The input for each field */
.EditService input,
.EditService textarea {
  margin: 0px 10px;
  padding: 0px 10px;
  background-color: var(--background-darker);
  border: 1px solid var(--border-light);
  border-radius: 10px;
  color: var(--text);
  font-size: 125%;
  height: 30px;
}
/* The icon for each field */
.EditService .serviceParam svg {
  height: 25px;
  width: 25px;
}

/* The input for the description field is larger to allow for more text */
.EditService .serviceParam .descriptionInput {
  width: min(500px, calc(100vw - 100px));
  height: 100px;
}

/* Make the error text only fill up the middle 50% for readability */
.EditService .errorText {
  width: 50%;
}
