.InputField {
  width: auto;
  height: auto;
}

/* Div for each individual param */
.InputField {
  position: relative;
}
/* Div without tooltip */
.InputField .serviceParamBody {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* The label for each field */
.InputField .allServiceParams p {
  font-size: 125%;
}
/* The input for each field */
.InputField input,
.InputField textarea {
  margin: 0px 10px;
  padding: 0px 10px;
  background-color: var(--background-darker);
  border: 1px solid var(--border-light);
  border-radius: 10px;
  color: var(--text);
  font-size: 125%;
  height: 30px;
}
/* The icon for each field */
.InputField .serviceParamBody svg {
  height: 25px;
  width: 25px;
}

/* The input for the description field is larger to allow for more text */
.InputField .serviceParamBody .descriptionInput {
  width: min(500px, calc(100vw - 100px));
  height: 100px;
}

/* Make the error text only fill up the middle 50% for readability */
.InputField .errorText {
  width: 50%;
}

/* Tooltips */
.InputField .tooltiptext {
  visibility: hidden;
  width: 80%;
  background-color: var(--border-very-dark);
  color: var(--background);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  opacity: 85%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 10%;
}

.InputField .serviceParamBody:hover + .tooltiptext {
  visibility: visible;
}
