/* Need main class for height of page to allow for increased scrollability  */
main {
  height: 70vh;
  width: 100vw;
}
/* Flexbox inside main for the flexbox which allows for centering*/
.SubPageSelect .flexContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

/* The header pieces */
main h1 {
  margin-bottom: -1%;
  font-size: 400%;
}
main h2 {
  margin: 10px;
  font-size: 300%;
}
main .welcomeText {
  width: 70vw;
}

/* The Div with the buttons  */
main .select-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* The buttons themselves  */
main .select-buttons {
  padding: 10px;
  background: var(--background-darker);
  border: 5px solid rgb(0, 152, 247);
  border-radius: 10px;
  font-size: 250%;
  font-weight: bold;
  transition: border-radius 0.3s ease-in-out;
}

main .select-buttons:hover {
  background: #9df7ff;
  cursor: pointer;
  border-radius: 30px;
  transition: border-radius 0.3s ease-in-out;
}

/* Make the icons look nice  */
.select-buttons svg {
  font-size: 140%;
  vertical-align: bottom;
}
