.RecList {
  width: auto;
  height: auto;
}

/* Formatting for the total */
.RecTotal {
  margin: 50px;
}

.RecTotalNum {
  font-size: 60px;
  font-weight: bold;
  margin: 0px;
}

.RecTotalLabel {
  font-size: 25px;
  margin: 10px;
}

.RecList .pagination button {
  padding: 10px 20px;
  margin: 10px;
}

.RecList .pagination .disabled {
  background-color: var(--background-greyer);
  cursor: not-allowed;
}
