:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background: #effeff;
  --icon-background: #effeff;
  --text: #00292c;
  --text-greyer: #1a2425;
  --text-dark: #00747d;
  --text-mid: #00c2d0;
  --text-light: #51f3ff;
  --background-greyer: #c2cecf;
  --background-darker: #c4faff;
  --background-hover: #77f4ff;
  --background-selected: #84c2c8;
  --border-light: #00c1d3;
  --border-mid: #0098f7;
  --border-dark: #007e87;
  --border-very-dark: #003b3f;
}

*:focus {
  outline: var(--border-very-dark) solid 1px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background: var(--background);
  color: var(--text);
  text-align: center;
}

select {
  padding: 5px 10px;
  background-color: var(--background-darker);
  color: var(--text);
  border: var(--border-light) solid 1px;
  border-radius: 20px;
  font-size: 110%;
}

button {
  cursor: pointer;
  border: var(--text) solid 0px;
  background-color: var(--background-darker);
  font-size: 110%;
  border: var(--border-light) solid 1px;
  border-radius: 20px;
  color: var(--text);
}
button:hover {
  background-color: var(--background-hover);
}
input::placeholder,
textarea::placeholder {
  color: var(--text-greyer);
}

.errorText {
  color: red;
  font-weight: bold;
}

.successText {
  color: green;
  font-weight: bold;
}
/* Make the links consistent with site style */
a:link {
  color: var(--text-mid);
}
a:link:hover,
a:visited:hover {
  color: var(--text-light);
}
a:visited {
  color: var(--text-dark);
}
