.SearchFilters {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* All the params to search */
.SearchFilters .allSearch {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 10px;
  margin: 20px;
}

/* Each individual param */
.SearchFilters .searchParam {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}
/* The label for each param */
.SearchFilters .allSearchParams p {
  font-size: 125%;
}
/* The input for each param */
.SearchFilters input,
.SearchFilters textarea {
  margin: 0px 10px;
  padding: 0px 10px;
  background-color: var(--background-darker);
  border: 1px solid var(--border-light);
  border-radius: 10px;
  color: var(--text);
  font-size: 125%;
  height: 30px;
}
/* The icon for each param */
.SearchFilters .searchParam svg {
  height: 25px;
  width: 25px;
}

.custom-select__control {
  width: 70vw;
  margin: 10px;
  /* TODO make styles match the rest */
}

.addressInput {
  width: 69vw;
}

/* Tooltips */
.SearchFilters .searchParam .tooltiptext {
  visibility: hidden;
  width: 50%;
  background-color: var(--border-very-dark);
  color: var(--background);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 25%;
}

.SearchFilters .searchParam:hover .tooltiptext {
  visibility: visible;
}
