.SearchFilters {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* All the params to search */
.SearchFilters .allSearch {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 10px;
  margin: 20px;
}

/* Each individual param */
.SearchFilters .searchParam {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}
/* The label for each param */
.SearchFilters .allSearchParams p {
  font-size: 125%;
}
/* The input for each param */
.SearchFilters input,
.SearchFilters textarea {
  margin: 0px 10px;
  padding: 0px 10px;
  background-color: var(--background-darker);
  border: 1px solid var(--border-light);
  border-radius: 10px;
  color: var(--text);
  font-size: 125%;
  height: 30px;
}
/* The icon for each param */
.SearchFilters .searchParam svg {
  height: 25px;
  width: 25px;
}

/* START The select bar
Key:
+ In the bar- Pertains to everything inside the selection box which is always visible
+ Select menu- the menu that opens up that you can select options from */
/* The whole Select bar */
.custom-select__control {
  width: 70vw;
  margin: 10px;
  color: var(--background);
}

/* When the select is in focus */
.custom-select__control--is-focused {
  border: 2px solid var(--border-dark) !important;
  outline: none !important;
  box-shadow: none !important;
}

/* The background color for the bar itself and the options list */
.custom-select__value-container,
.custom-select__indicators,
.custom-select__menu-list {
  background-color: var(--background);
}
/* Hover on the bar  */
.custom-select__control:hover .custom-select__indicators,
.custom-select__control:hover .custom-select__value-container {
  background-color: var(--background-hover);
}

/* The Placeholder text when no options are selected  */
.custom-select__placeholder {
  color: var(--text-greyer) !important;
}

/* The background of the selected param in the bar */
.custom-select__multi-value {
  background-color: var(--background-darker) !important; /* neutral-400 */
  border-radius: 0.375rem; /* rounded-md */
}
/*  The text of the Selected Param  in the bar*/
.custom-select__multi-value__label {
  color: var(--text) !important;
}

/* The border around the select menu */
.custom-select__menu-list {
  border: 2px solid var(--border-dark);
}
/* Hovering over an option in the select menu */
.custom-select__option:hover {
  background-color: var(--background-darker);
}
/* When there is no hover but the menu is open this is what is selected
+ This is also what appears when you use arrow keys to navigate  */
.css-d7l1ni-option {
  background-color: var(--background-selected) !important;
}
/* END Select Bar */

.addressInput {
  width: 69vw;
}

/* Tooltips */
.SearchFilters .searchParam .tooltiptext {
  visibility: hidden;
  width: 80%;
  background-color: var(--border-very-dark);
  color: var(--background);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  opacity: 85%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 10%;
}

.SearchFilters .searchParam:hover .tooltiptext {
  visibility: visible;
}
